*                              @intuitivo-ai/infra
/.github                       @intuitivo-ai/infra
/scripts                       @intuitivo-ai/infra
/scripts/functions.sh          @intuitivo-ai/infra
/scripts/get_account_id.sh     @intuitivo-ai/infra
/scripts/release_notes.sh      @intuitivo-ai/infra
/scripts/requirements.sh       @intuitivo-ai/infra
/scripts/run_tests.sh          @intuitivo-ai/infra
/scripts/test_commands.sh      @intuitivo-ai/infra
