name: Terraform Apply

on:
  workflow_call:
    inputs:
      AWS_REGION:
        required: true
        type: string
      ENVIRONMENT:
        required: true
        type: string
      LAMBDA:
        required: false
        type: boolean
        default: false
      PLAN:
        required: false
        type: boolean
        default: true
      REFRESH:
        required: false
        type: boolean
        default: true
      REQUIREMENTS:
        required: false
        type: boolean
        default: false
      TF_PATH:
        required: false
        type: string
        default: './'
      UPDATE_AWS_CLI:
        required: false
        type: boolean
        default: false
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      PERSONAL_ACCESS_TOKEN:
        required: false
      GOOGLE_CREDENTIALS:
        required: false
      GH_ADMIN_TOKEN:
        required: false

env:
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  TF_VAR_branch: ${{ github.head_ref || github.ref_name }}
  TF_VAR_commit_id: ${{ github.event.pull_request.head.sha || github.sha }}
  TF_VAR_gh_admin_token: ${{ secrets.GH_ADMIN_TOKEN }}
  TF_VAR_gh_run_attempt: ${{ github.run_attempt }}
  TF_VAR_gh_run_number: ${{ github.run_number }}
  VAR_FILE: ${{ inputs.ENVIRONMENT }}-${{ inputs.AWS_REGION }}

jobs:
  iam_roles_policies:
    name: IAM role with policies
    uses: ./.github/workflows/iam-roles-policies.yml
    with:
      AWS_REGION: ${{ inputs.AWS_REGION }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
      TF_PATH: ${{ inputs.TF_PATH }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  terraform-apply:
    runs-on: [ self-hosted, linux, intuitivo ]
    environment: ${{ inputs.ENVIRONMENT }}
    env:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    concurrency:
      group: terraform-apply-${{ inputs.ENVIRONMENT }}
    name: Apply
    needs:
      - iam_roles_policies
    defaults:
      run:
        working-directory: ${{ inputs.TF_PATH }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper : false
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ needs.iam_roles_policies.outputs.access_key_id }}
          aws-secret-access-key: ${{ needs.iam_roles_policies.outputs.secret_access_key }}
          aws-session-token: ${{ needs.iam_roles_policies.outputs.session_token }}
          aws-region: ${{ inputs.AWS_REGION }}
      - name: Show AWS user
        run: |
          aws sts get-caller-identity
      - name: Create lambda zip files
        if: ${{ inputs.LAMBDA }}
        run: |
          cd ..
          chmod -R +x ./scripts
          ./scripts/create_zip_files.sh
          cd -
      - name: Update aws-cli
        if: ${{ inputs.UPDATE_AWS_CLI }}
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --bin-dir /usr/local/bin --install-dir /usr/local/aws-cli --update
          /usr/local/bin/aws --version
      - name: Install workflow requirements
        if: ${{ inputs.REQUIREMENTS }}
        run: |
          cd ..
          chmod -R +x ./scripts
          ./scripts/requirements.sh
          cd -
      - name: Init
        run: |
          terraform init -reconfigure -backend-config=${{ inputs.ENVIRONMENT }}-${{ inputs.AWS_REGION }}.backend
      - name: Refresh state
        if: ${{ inputs.REFRESH == true }}
        id: state_lock
        run: |
          terraform apply -var-file=$VAR_FILE.tfvars -input=false -auto-approve -refresh-only -lock-timeout=5m
      - name: Detect import template
        run: |
          original_filename="import-${{ inputs.ENVIRONMENT }}-${{ inputs.AWS_REGION }}.import"
          new_filename="import-${{ inputs.ENVIRONMENT }}-${{ inputs.AWS_REGION }}.tf"

          if [ -f "$original_filename" ]; then
            mv "$original_filename" "$new_filename"
            echo "Import file $new_filename created."
          else
            echo "No import file detected for ${{ inputs.ENVIRONMENT }} in region ${{ inputs.AWS_REGION }}."
          fi
      - name: Plan
        if: ${{ inputs.PLAN == true }}
        run: |
          terraform plan -var-file=$VAR_FILE.tfvars -input=false -lock-timeout=5m
      - name: Apply
        id: apply
        run: |
          terraform apply -var-file=$VAR_FILE.tfvars -input=false -auto-approve -lock-timeout=5m
      - name: Show outputs
        if: always()
        run: |
          terraform output
      - name: Unlock
        if: ${{ cancelled() || ( inputs.REFRESH == true && steps.state_lock.outcome != 'success' ) }}
        run: |
          chmod -R +x ../scripts
          ../scripts/terraform_unlock.sh
      - name: Create Tag
        run: git tag -f "${{ inputs.ENVIRONMENT }}/${{ github.run_number }}" && git push -f origin "${{ inputs.ENVIRONMENT }}/${{ github.run_number }}"
      - name: Notification
        if: always()
        run: |
          aws lambda invoke --function-name ${{ steps.lambda_prefix.outputs.MODULE_ENVIRONMENT }}-slash-bot --cli-binary-format raw-in-base64-out --invocation-type Event --payload '{"source":"gh-actions","env":"${{ inputs.ENVIRONMENT }}","repository":"${{ github.event.repository.name }}","username":"${{ github.actor }}","status":"${{ steps.apply.outcome }}"}' response.json